*~
target
.classpath
.project
.settings
*orig
.springBeans
*/repository/
*tmp/
*backup
*Backup
*bower_components/

*.iml
*.idea
*.ipr
*.iws
*.hprof
out
build
captures
.gradle
.DS_Store
local.properties
